<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Hello World!</h1>
    <input id="clickButton" type="button" value="Click Me!">
    <div id="display_area"></div>

    <input id="num1_textbox" type="text" value="">
    <input id="num2_textbox" type="text" value="">
    <input id="backendButton" type="button" value="Call Backend">
    <div id="display_area_for_backend"></div>
</body>
<script src="/static/script.js"></script>
</html>